body{
background-image:url(./img/efbd8459a0d7683d096a39f3dd7fda6f.png);
}

.sidebar {
background-image: url(./img/Methuselah-estrella-mas-antigua-1280x720.jpeg);
    color: #f5f5f5;
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 35px;  
}
.container {
  display: flex;
    gap: 130px;
}
li{
  list-style: none;
  margin-bottom: 15px;
  background-color: black;
  width: 102px;
  border-radius: 10px;
  padding: 4px;
}
.logo{
  width: 50px;
  margin-right: 5px;
}
a {
    text-decoration: none;
    color: #f5f5f5;
    padding: 5px;
}
.book-grid, .comic-grid, .con {
  display: grid;
  grid-gap: 20px;
}

.book-item, .comic-item {

  padding: 20px;
  border-radius: 25px;
  height: 200px;
}
.content{
  background-color: black;
  height: auto;
  color: #f5f5f5;
  border-radius: 35px;
}